.alert {
  padding: 20px;
  margin: 12em 20rem;
  color: yellow;
  background-color: blue;
}

.rrr {
  font-size: 100px;
}

.warning {
  @extend .alert, .rrr;

  background-color: orange;
}

.error {
  padding: 20px;
  margin: 12em 20rem;
  color: yellow;
  background-color: red;
}

.ok {
  padding: 20px;
  margin: 12em 20rem;
  color: yellow;
  background-color: green;
}

.border {
  border: 5px solid red;
}

.shadow {
  -webkit-box-shadow: 50px -58px 38px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 50px -58px 38px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 50px -58px 38px 0px rgba(0, 0, 0, 0.2);
}
